## Getting stock data for corv.

I want to add 26 new features to each instance. This is explained below.

In [1]:
import yfinance as yf

In [2]:
corv = yf.Ticker("CORV")
print(corv)

yfinance.Ticker object <CORV>

In [3]:
data = corv.history(period="max")
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4184 entries, 2003-07-15 to 2020-02-26
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Open          4184 non-null   float64
 1   High          4184 non-null   float64
 2   Low           4184 non-null   float64
 3   Close         4184 non-null   float64
 4   Volume        4184 non-null   int64
 5   Dividends     4184 non-null   int64
 6   Stock Splits  4184 non-null   float64
dtypes: float64(5), int64(2)
memory usage: 261.5 KB

### now for each instance i wanna make 25 new columns. the columns will be the open,high,low,close,and volume for the previous 5 days.
### next step is to find out how to do this...
### i also wanna add a stock ticker column so i can eventually add more data to this dataset.

In [4]:
data.head()

             Open   High    Low  Close  Volume  Dividends  Stock Splits
Date
2003-07-15  17.00  17.00  16.10  16.25    2200          0           0.0
2003-07-16  16.25  16.25  16.25  16.25       0          0           0.0
2003-07-17  15.50  15.50  15.50  15.50     200          0           0.0
2003-07-18  15.85  15.85  15.70  15.85    2400          0           0.0
2003-07-21  15.85  15.85  15.85  15.85       0          0           0.0

# The commented out code here is how i first did this. Then i made a for loop to do it all at once. Its below.

In [ ]:
'''###data["1dayEarlyOpen"] = [x for x in data where x["Date"] == data["date"] '''  -1 day''']

#grab the col i want to use for my new column
highData = data["High"]
#make it a list
highData = list(highData)
#insert a 0 for 1 day in the begining
highData.insert(0,0)
#pop the last day off
highData.pop()
#set the new column to that data
data["high1DayBefore"] = highData
data.head()'''

In [ ]:
'''Think i will do this at the end.

#remove the first instance of data because it has an inaccurate high1DayBefore
data = data[1::]
data.head(n=15)'''

In [ ]:
'''#grab the col i want to use for my new column
lowData = data["Low"]
#make it a list
lowData = list(lowData)
#insert a 0 for 1 day in the begining
lowData.insert(0,0)
#pop the last day off
lowData.pop()
#set the new column to that data
data["low1DayBefore"] = lowData
data.head(n=10)'''

In [5]:
newCols = ["high1DayBefore", "low1DayBefore", "open1DayBefore","close1DayBefore","volume1DayBefore"]
oldCols = ["High", "Low", "Open", "Close", "Volume"]
zippedCols = zip(newCols,oldCols)
for colname, oldcol in zippedCols:
    thisCol = data[oldcol]
    #make it a list
    thisCol = list(thisCol)
    #insert a 0 for 1 day in the begining
    thisCol.insert(0,0)
    #pop the last day off
    thisCol.pop()
    #set the new column to that data
    data[colname] = thisCol
data.head(n=10)

,Open,High,Low,Close,Volume,Dividends,Stock Splits,high1DayBefore,low1DayBefore,open1DayBefore,close1DayBefore,volume1DayBefore
Date,,,,,,,,,,,,
2003-07-15,17.00,17.00,16.10,16.25,2200,0,0.0,0.00,0.00,0.00,0.00,0
2003-07-16,16.25,16.25,16.25,16.25,0,0,0.0,17.00,16.10,17.00,16.25,2200
2003-07-17,15.50,15.50,15.50,15.50,200,0,0.0,16.25,16.25,16.25,16.25,0
2003-07-18,15.85,15.85,15.70,15.85,2400,0,0.0,15.50,15.50,15.50,15.50,200
2003-07-21,15.85,15.85,15.85,15.85,0,0,0.0,15.85,15.70,15.85,15.85,2400
2003-07-22,15.85,15.85,15.85,15.85,100,0,0.0,15.85,15.85,15.85,15.85,0
2003-07-23,16.00,16.20,16.00,16.20,1600,0,0.0,15.85,15.85,15.85,15.85,100
2003-07-24,16.20,17.50,16.20,17.15,11400,0,0.0,16.20,16.00,16.00,16.20,1600
2003-07-25,17.50,17.50,16.50,16.50,800,0,0.0,17.50,16.20,16.20,17.15,11400
2003-07-28,18.75,18.75,17.50,18.15,200,0,0.0,17.50,16.50,17.50,16.50,800

# now to do this for 2 days before and so on.

In [6]:
newCols = ["high2DaysBefore", "low2DaysBefore", "open2DaysBefore","close2DaysBefore","volume2DaysBefore"]
oldCols = ["High", "Low", "Open", "Close", "Volume"]
zippedCols = zip(newCols,oldCols)
for colname, oldcol in zippedCols:
    thisCol = data[oldcol]
    #make it a list
    thisCol = list(thisCol)
    #insert a 0 for 1 day in the begining
    thisCol.insert(0,0)
    #insert a 0 for 2 day in the begining
    thisCol.insert(0,0)
    #pop the last day off
    thisCol.pop()
    #pop the next day off
    thisCol.pop()
    #set the new column to that data
    data[colname] = thisCol
data.head(n=10)

,Open,High,Low,Close,Volume,Dividends,Stock Splits,high1DayBefore,low1DayBefore,open1DayBefore,close1DayBefore,volume1DayBefore,high2DaysBefore,low2DaysBefore,open2DaysBefore,close2DaysBefore,volume2DaysBefore
Date,,,,,,,,,,,,,,,,,
2003-07-15,17.00,17.00,16.10,16.25,2200,0,0.0,0.00,0.00,0.00,0.00,0,0.00,0.00,0.00,0.00,0
2003-07-16,16.25,16.25,16.25,16.25,0,0,0.0,17.00,16.10,17.00,16.25,2200,0.00,0.00,0.00,0.00,0
2003-07-17,15.50,15.50,15.50,15.50,200,0,0.0,16.25,16.25,16.25,16.25,0,17.00,16.10,17.00,16.25,2200
2003-07-18,15.85,15.85,15.70,15.85,2400,0,0.0,15.50,15.50,15.50,15.50,200,16.25,16.25,16.25,16.25,0
2003-07-21,15.85,15.85,15.85,15.85,0,0,0.0,15.85,15.70,15.85,15.85,2400,15.50,15.50,15.50,15.50,200
2003-07-22,15.85,15.85,15.85,15.85,100,0,0.0,15.85,15.85,15.85,15.85,0,15.85,15.70,15.85,15.85,2400
2003-07-23,16.00,16.20,16.00,16.20,1600,0,0.0,15.85,15.85,15.85,15.85,100,15.85,15.85,15.85,15.85,0
2003-07-24,16.20,17.50,16.20,17.15,11400,0,0.0,16.20,16.00,16.00,16.20,1600,15.85,15.85,15.85,15.85,100
2003-07-25,17.50,17.50,16.50,16.50,800,0,0.0,17.50,16.20,16.20,17.15,11400,16.20,16.00,16.00,16.20,1600
2003-07-28,18.75,18.75,17.50,18.15,200,0,0.0,17.50,16.50,17.50,16.50,800,17.50,16.20,16.20,17.15,11400

In [7]:
newCols = ["high3DaysBefore", "low3DaysBefore", "open3DaysBefore","close3DaysBefore","volume3DaysBefore"]
oldCols = ["High", "Low", "Open", "Close", "Volume"]
zippedCols = zip(newCols,oldCols)
for colname, oldcol in zippedCols:
    thisCol = data[oldcol]
    #make it a list
    thisCol = list(thisCol)
    #insert a 0 for 1 day in the begining
    thisCol.insert(0,0)
    #insert a 0 for 2 day in the begining
    thisCol.insert(0,0)
    thisCol.insert(0,0)
    #pop the last day off
    thisCol.pop()
    #pop the next day off
    thisCol.pop()
    thisCol.pop()
    #set the new column to that data
    data[colname] = thisCol
data.head(n=10)

,Open,High,Low,Close,Volume,Dividends,Stock Splits,high1DayBefore,low1DayBefore,open1DayBefore,...,high2DaysBefore,low2DaysBefore,open2DaysBefore,close2DaysBefore,volume2DaysBefore,high3DaysBefore,low3DaysBefore,open3DaysBefore,close3DaysBefore,volume3DaysBefore
Date,,,,,,,,,,,,,,,,,,,,,
2003-07-15,17.00,17.00,16.10,16.25,2200,0,0.0,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0,0.00,0.00,0.00,0.00,0
2003-07-16,16.25,16.25,16.25,16.25,0,0,0.0,17.00,16.10,17.00,...,0.00,0.00,0.00,0.00,0,0.00,0.00,0.00,0.00,0
2003-07-17,15.50,15.50,15.50,15.50,200,0,0.0,16.25,16.25,16.25,...,17.00,16.10,17.00,16.25,2200,0.00,0.00,0.00,0.00,0
2003-07-18,15.85,15.85,15.70,15.85,2400,0,0.0,15.50,15.50,15.50,...,16.25,16.25,16.25,16.25,0,17.00,16.10,17.00,16.25,2200
2003-07-21,15.85,15.85,15.85,15.85,0,0,0.0,15.85,15.70,15.85,...,15.50,15.50,15.50,15.50,200,16.25,16.25,16.25,16.25,0
2003-07-22,15.85,15.85,15.85,15.85,100,0,0.0,15.85,15.85,15.85,...,15.85,15.70,15.85,15.85,2400,15.50,15.50,15.50,15.50,200
2003-07-23,16.00,16.20,16.00,16.20,1600,0,0.0,15.85,15.85,15.85,...,15.85,15.85,15.85,15.85,0,15.85,15.70,15.85,15.85,2400
2003-07-24,16.20,17.50,16.20,17.15,11400,0,0.0,16.20,16.00,16.00,...,15.85,15.85,15.85,15.85,100,15.85,15.85,15.85,15.85,0
2003-07-25,17.50,17.50,16.50,16.50,800,0,0.0,17.50,16.20,16.20,...,16.20,16.00,16.00,16.20,1600,15.85,15.85,15.85,15.85,100
2003-07-28,18.75,18.75,17.50,18.15,200,0,0.0,17.50,16.50,17.50,...,17.50,16.20,16.20,17.15,11400,16.20,16.00,16.00,16.20,1600

In [8]:
newCols = ["high4DaysBefore", "low4DaysBefore", "open4DaysBefore","close4DaysBefore","volume4DaysBefore"]
oldCols = ["High", "Low", "Open", "Close", "Volume"]
zippedCols = zip(newCols,oldCols)
for colname, oldcol in zippedCols:
    thisCol = data[oldcol]
    #make it a list
    thisCol = list(thisCol)
    #insert a 0 for 1 day in the begining
    thisCol.insert(0,0)
    #insert a 0 for 2 day in the begining
    thisCol.insert(0,0)
    thisCol.insert(0,0)
    thisCol.insert(0,0)
    
    #pop the last day off
    thisCol.pop()
    #pop the next day off
    thisCol.pop()
    thisCol.pop()
    thisCol.pop()
    #set the new column to that data
    data[colname] = thisCol
data.head(n=10)

,Open,High,Low,Close,Volume,Dividends,Stock Splits,high1DayBefore,low1DayBefore,open1DayBefore,...,high3DaysBefore,low3DaysBefore,open3DaysBefore,close3DaysBefore,volume3DaysBefore,high4DaysBefore,low4DaysBefore,open4DaysBefore,close4DaysBefore,volume4DaysBefore
Date,,,,,,,,,,,,,,,,,,,,,
2003-07-15,17.00,17.00,16.10,16.25,2200,0,0.0,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0,0.00,0.00,0.00,0.00,0
2003-07-16,16.25,16.25,16.25,16.25,0,0,0.0,17.00,16.10,17.00,...,0.00,0.00,0.00,0.00,0,0.00,0.00,0.00,0.00,0
2003-07-17,15.50,15.50,15.50,15.50,200,0,0.0,16.25,16.25,16.25,...,0.00,0.00,0.00,0.00,0,0.00,0.00,0.00,0.00,0
2003-07-18,15.85,15.85,15.70,15.85,2400,0,0.0,15.50,15.50,15.50,...,17.00,16.10,17.00,16.25,2200,0.00,0.00,0.00,0.00,0
2003-07-21,15.85,15.85,15.85,15.85,0,0,0.0,15.85,15.70,15.85,...,16.25,16.25,16.25,16.25,0,17.00,16.10,17.00,16.25,2200
2003-07-22,15.85,15.85,15.85,15.85,100,0,0.0,15.85,15.85,15.85,...,15.50,15.50,15.50,15.50,200,16.25,16.25,16.25,16.25,0
2003-07-23,16.00,16.20,16.00,16.20,1600,0,0.0,15.85,15.85,15.85,...,15.85,15.70,15.85,15.85,2400,15.50,15.50,15.50,15.50,200
2003-07-24,16.20,17.50,16.20,17.15,11400,0,0.0,16.20,16.00,16.00,...,15.85,15.85,15.85,15.85,0,15.85,15.70,15.85,15.85,2400
2003-07-25,17.50,17.50,16.50,16.50,800,0,0.0,17.50,16.20,16.20,...,15.85,15.85,15.85,15.85,100,15.85,15.85,15.85,15.85,0
2003-07-28,18.75,18.75,17.50,18.15,200,0,0.0,17.50,16.50,17.50,...,16.20,16.00,16.00,16.20,1600,15.85,15.85,15.85,15.85,100

In [9]:
newCols = ["high5DaysBefore", "low5DaysBefore", "open5DaysBefore","close5DaysBefore","volume5DaysBefore"]
oldCols = ["High", "Low", "Open", "Close", "Volume"]
zippedCols = zip(newCols,oldCols)
for colname, oldcol in zippedCols:
    thisCol = data[oldcol]
    #make it a list
    thisCol = list(thisCol)
    #insert a 0 for 1 day in the begining
    thisCol.insert(0,0)
    #insert a 0 for 2 day in the begining
    thisCol.insert(0,0)
    thisCol.insert(0,0)
    thisCol.insert(0,0)
    thisCol.insert(0,0)
    
    #pop the last day off
    thisCol.pop()
    #pop the next day off
    thisCol.pop()
    thisCol.pop()
    thisCol.pop()
    thisCol.pop()
    #set the new column to that data
    data[colname] = thisCol
data.head(n=10)

,Open,High,Low,Close,Volume,Dividends,Stock Splits,high1DayBefore,low1DayBefore,open1DayBefore,...,high4DaysBefore,low4DaysBefore,open4DaysBefore,close4DaysBefore,volume4DaysBefore,high5DaysBefore,low5DaysBefore,open5DaysBefore,close5DaysBefore,volume5DaysBefore
Date,,,,,,,,,,,,,,,,,,,,,
2003-07-15,17.00,17.00,16.10,16.25,2200,0,0.0,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0,0.00,0.00,0.00,0.00,0
2003-07-16,16.25,16.25,16.25,16.25,0,0,0.0,17.00,16.10,17.00,...,0.00,0.00,0.00,0.00,0,0.00,0.00,0.00,0.00,0
2003-07-17,15.50,15.50,15.50,15.50,200,0,0.0,16.25,16.25,16.25,...,0.00,0.00,0.00,0.00,0,0.00,0.00,0.00,0.00,0
2003-07-18,15.85,15.85,15.70,15.85,2400,0,0.0,15.50,15.50,15.50,...,0.00,0.00,0.00,0.00,0,0.00,0.00,0.00,0.00,0
2003-07-21,15.85,15.85,15.85,15.85,0,0,0.0,15.85,15.70,15.85,...,17.00,16.10,17.00,16.25,2200,0.00,0.00,0.00,0.00,0
2003-07-22,15.85,15.85,15.85,15.85,100,0,0.0,15.85,15.85,15.85,...,16.25,16.25,16.25,16.25,0,17.00,16.10,17.00,16.25,2200
2003-07-23,16.00,16.20,16.00,16.20,1600,0,0.0,15.85,15.85,15.85,...,15.50,15.50,15.50,15.50,200,16.25,16.25,16.25,16.25,0
2003-07-24,16.20,17.50,16.20,17.15,11400,0,0.0,16.20,16.00,16.00,...,15.85,15.70,15.85,15.85,2400,15.50,15.50,15.50,15.50,200
2003-07-25,17.50,17.50,16.50,16.50,800,0,0.0,17.50,16.20,16.20,...,15.85,15.85,15.85,15.85,0,15.85,15.70,15.85,15.85,2400
2003-07-28,18.75,18.75,17.50,18.15,200,0,0.0,17.50,16.50,17.50,...,15.85,15.85,15.85,15.85,100,15.85,15.85,15.85,15.85,0

## Adding Ticker here

In [10]:
data["Ticker"] = "CORV"
data.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,high1DayBefore,low1DayBefore,open1DayBefore,...,low4DaysBefore,open4DaysBefore,close4DaysBefore,volume4DaysBefore,high5DaysBefore,low5DaysBefore,open5DaysBefore,close5DaysBefore,volume5DaysBefore,Ticker
Date,,,,,,,,,,,,,,,,,,,,,
2003-07-15,17.00,17.00,16.10,16.25,2200,0,0.0,0.00,0.00,0.00,...,0.0,0.0,0.00,0,0.0,0.0,0.0,0.0,0,CORV
2003-07-16,16.25,16.25,16.25,16.25,0,0,0.0,17.00,16.10,17.00,...,0.0,0.0,0.00,0,0.0,0.0,0.0,0.0,0,CORV
2003-07-17,15.50,15.50,15.50,15.50,200,0,0.0,16.25,16.25,16.25,...,0.0,0.0,0.00,0,0.0,0.0,0.0,0.0,0,CORV
2003-07-18,15.85,15.85,15.70,15.85,2400,0,0.0,15.50,15.50,15.50,...,0.0,0.0,0.00,0,0.0,0.0,0.0,0.0,0,CORV
2003-07-21,15.85,15.85,15.85,15.85,0,0,0.0,15.85,15.70,15.85,...,16.1,17.0,16.25,2200,0.0,0.0,0.0,0.0,0,CORV

## remove the first 5 instances.

In [11]:
data = data.iloc[5:]
data.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,high1DayBefore,low1DayBefore,open1DayBefore,...,low4DaysBefore,open4DaysBefore,close4DaysBefore,volume4DaysBefore,high5DaysBefore,low5DaysBefore,open5DaysBefore,close5DaysBefore,volume5DaysBefore,Ticker
Date,,,,,,,,,,,,,,,,,,,,,
2003-07-22,15.85,15.85,15.85,15.85,100,0,0.0,15.85,15.85,15.85,...,16.25,16.25,16.25,0,17.00,16.10,17.00,16.25,2200,CORV
2003-07-23,16.00,16.20,16.00,16.20,1600,0,0.0,15.85,15.85,15.85,...,15.50,15.50,15.50,200,16.25,16.25,16.25,16.25,0,CORV
2003-07-24,16.20,17.50,16.20,17.15,11400,0,0.0,16.20,16.00,16.00,...,15.70,15.85,15.85,2400,15.50,15.50,15.50,15.50,200,CORV
2003-07-25,17.50,17.50,16.50,16.50,800,0,0.0,17.50,16.20,16.20,...,15.85,15.85,15.85,0,15.85,15.70,15.85,15.85,2400,CORV
2003-07-28,18.75,18.75,17.50,18.15,200,0,0.0,17.50,16.50,17.50,...,15.85,15.85,15.85,100,15.85,15.85,15.85,15.85,0,CORV

In [20]:
data.drop("Dividends", axis = 1, inplace = True)
data.drop("Stock Splits", axis = 1, inplace = True)

In [22]:


data.to_csv("corvCleanDataset.csv")

In [21]:
data.head()

,Open,High,Low,Close,Volume,high1DayBefore,low1DayBefore,open1DayBefore,close1DayBefore,volume1DayBefore,...,low4DaysBefore,open4DaysBefore,close4DaysBefore,volume4DaysBefore,high5DaysBefore,low5DaysBefore,open5DaysBefore,close5DaysBefore,volume5DaysBefore,Ticker
Date,,,,,,,,,,,,,,,,,,,,,
2003-07-22,15.85,15.85,15.85,15.85,100,15.85,15.85,15.85,15.85,0,...,16.25,16.25,16.25,0,17.00,16.10,17.00,16.25,2200,CORV
2003-07-23,16.00,16.20,16.00,16.20,1600,15.85,15.85,15.85,15.85,100,...,15.50,15.50,15.50,200,16.25,16.25,16.25,16.25,0,CORV
2003-07-24,16.20,17.50,16.20,17.15,11400,16.20,16.00,16.00,16.20,1600,...,15.70,15.85,15.85,2400,15.50,15.50,15.50,15.50,200,CORV
2003-07-25,17.50,17.50,16.50,16.50,800,17.50,16.20,16.20,17.15,11400,...,15.85,15.85,15.85,0,15.85,15.70,15.85,15.85,2400,CORV
2003-07-28,18.75,18.75,17.50,18.15,200,17.50,16.50,17.50,16.50,800,...,15.85,15.85,15.85,100,15.85,15.85,15.85,15.85,0,CORV