In [1]:
import pandas as pd
data = pd.read_csv("corvCleanDataset.csv")
data.head()

,Date,Open,High,Low,Close,Volume,high1DayBefore,low1DayBefore,open1DayBefore,close1DayBefore,...,low4DaysBefore,open4DaysBefore,close4DaysBefore,volume4DaysBefore,high5DaysBefore,low5DaysBefore,open5DaysBefore,close5DaysBefore,volume5DaysBefore,Ticker
0,2003-07-22,15.85,15.85,15.85,15.85,100,15.85,15.85,15.85,15.85,...,16.25,16.25,16.25,0,17.00,16.10,17.00,16.25,2200,CORV
1,2003-07-23,16.00,16.20,16.00,16.20,1600,15.85,15.85,15.85,15.85,...,15.50,15.50,15.50,200,16.25,16.25,16.25,16.25,0,CORV
2,2003-07-24,16.20,17.50,16.20,17.15,11400,16.20,16.00,16.00,16.20,...,15.70,15.85,15.85,2400,15.50,15.50,15.50,15.50,200,CORV
3,2003-07-25,17.50,17.50,16.50,16.50,800,17.50,16.20,16.20,17.15,...,15.85,15.85,15.85,0,15.85,15.70,15.85,15.85,2400,CORV
4,2003-07-28,18.75,18.75,17.50,18.15,200,17.50,16.50,17.50,16.50,...,15.85,15.85,15.85,100,15.85,15.85,15.85,15.85,0,CORV

In [2]:
keys = list(data.keys())

In [ ]:
keys.remove('Date')
keys.remove('Open')
keys.remove('High')
keys.remove('Low')
keys.remove('Close')
keys.remove('Volume')
keys.remove('Ticker')

In [5]:
xes = keys
ys = "High"
print(xes)

['high1DayBefore', 'low1DayBefore', 'open1DayBefore', 'close1DayBefore', 'volume1DayBefore', 'high2DaysBefore', 'low2DaysBefore', 'open2DaysBefore', 'close2DaysBefore', 'volume2DaysBefore', 'high3DaysBefore', 'low3DaysBefore', 'open3DaysBefore', 'close3DaysBefore', 'volume3DaysBefore', 'high4DaysBefore', 'low4DaysBefore', 'open4DaysBefore', 'close4DaysBefore', 'volume4DaysBefore', 'high5DaysBefore', 'low5DaysBefore', 'open5DaysBefore', 'close5DaysBefore', 'volume5DaysBefore']